.hero.hero--no-background {
  background: none;
  .hero__category {
    font-size: var(--fontsize-heading-m);
    @include breakpoint($breakpoint-m) {
      font-size: var(--fontsize-heading-l);
    }
  }
  .hero__title {
    font-size: var(--fontsize-heading-l);
    @include breakpoint($breakpoint-m) {
      font-size: var(--fontsize-heading-xxl);
    }
  }
}

.hero__image-container[tabindex="-1"] {
  outline: none;
  user-select: none;
  pointer-events: none;
}
