<h4 class="print-label{% if element['#required'] %} form-required{% endif %}">{{ element['#title'] }}</h4>
<div class="hds-text-input__input-wrapper">
  <div id="{{ element['#id'] }}" class="hide-input form-text hds-text-input__input hds-text-input__textarea webform_large" type="text">
    &nbsp;
  </div>
</div>
