.ui-widget-overlay {
  z-index: 99;
}

.ui-dialog {
  .ui-button:hover {
    border-width: 2px;
  }

  .ui-dialog-titlebar-close {
    top: var(--spacing-s);
    z-index: 1001;
  }

  .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;
  }

  .ui-dialog-buttonpane {
    padding: var(--spacing-2-xs) var(--spacing-m);

    button {
      margin: 0 var(--spacing-xs) 0 0;
    }
  }

  .ui-dialog-content {
    padding: 0 1em 1em;
    position: initial;
  }

  div.ui-dialog-titlebar {
    padding: 0;
  }

  &-titlebar {
    background: transparent;
    border: 0;

    &-close {
      background: none;
      border: none;
    }

    .ui-dialog-title {
      display: block;
      font-size: var(--fontsize-heading-s);
      overflow: auto;
      padding: var(--spacing-layout-2-xs) var(--spacing-layout-2-xs) var(--spacing-layout-2-xs) var(--spacing-2-xl);
      position: relative;
      white-space: normal;
    }
  }

  &-title {
    .hel-icon {
      left: var(--spacing-m);
      margin-right: var(--spacing-2-xs);
      position: absolute;
      top: var(--spacing-s);
    }
  }
}

.ui-widget-content {
  border: 0 transparent solid;

  h3 {
    margin-top: 0;
  }
}

div.ui-widget.ui-widget-content {
  border-top: var(--spacing-2-xs) solid var(--color-black);
  max-width: 100vw;
  min-width: 300px;
  padding-top: 0;
}

.ui-widget-content span.ui-icon {
  margin-left: -8px;
  margin-top: -8px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpolygon fill='currentColor' points='18 7.5 13.5 12 18 16.5 16.5 18 12 13.5 7.5 18 6 16.5 10.5 12 6 7.5 7.5 6 12 10.5 16.5 6'/%3E %3C/g%3E %3C/svg%3E");
  transform: scale(1.5);
}

.submission-for-copying {
  margin-bottom: 1em;
  margin-top: 1em;
}
