<p><b>{{ "Application to copy"|t({}, {'context': 'grants_handler'})}}:</b> {{ webformTitle }}</p>
<p><b>{{ "Application number"|t({}, {'context': 'grants_handler'})}}:</b> {{ applicationNumber }}</p>
