parameters:
  fileExtensions:
      - php
      - module
      - install
      - theme
  paths:
    - ./public/modules/custom
    - ./public/themes/custom
  excludePaths:
    - vendor
  level: 3
  treatPhpDocTypesAsCertain: false
  scanFiles:
    - ./public/core/themes/engines/twig/twig.engine
  ignoreErrors:
    -
      message: "#^Method Psr\\\\EventDispatcher\\\\EventDispatcherInterface\\:\\:dispatch\\(\\) invoked with 2 parameters, 1 required\\.$#"
      count: 2
      path: public/modules/custom/helfi_atv/src/AtvService.php

    -
      message: "#^Property Drupal\\\\helfi_atv\\\\AtvService\\:\\:\\$maxPages \\(int\\) does not accept string\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/src/AtvService.php

    -
      message: "#^Property Drupal\\\\helfi_atv\\\\AtvService\\:\\:\\$resultsPerPage \\(int\\) does not accept string\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/src/AtvService.php

    -
      message: "#^Variable \\$file might not be defined\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/src/AtvService.php

    -
      message: "#^Variable \\$file on left side of \\?\\? always exists and is not nullable\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/src/AtvService.php

    -
      message: "#^PHPDoc tag @param for parameter \\$event with type Drupal\\\\helfi_atv\\\\Event\\\\AtvServiceEOperationEvent is not subtype of native type Drupal\\\\helfi_atv\\\\Event\\\\AtvServiceOperationEvent\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/tests/modules/helfi_atv_test/src/EventSubscriber/AtvEventSubscriber.php

    -
      message: "#^Parameter \\$event of method Drupal\\\\helfi_atv_test\\\\EventSubscriber\\\\AtvEventSubscriber\\:\\:onOperation\\(\\) has invalid type Drupal\\\\helfi_atv\\\\Event\\\\AtvServiceEOperationEvent\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/tests/modules/helfi_atv_test/src/EventSubscriber/AtvEventSubscriber.php

    -
      message: "#^Function Exception not found\\.$#"
      count: 3
      path: public/modules/custom/helfi_atv/tests/modules/helfi_atv_test/src/HelfiAtvTestServiceProvider.php

    -
      message: "#^Parameter \\$response of method Drupal\\\\helfi_atv_test\\\\MockClientFactory\\:\\:addResponse\\(\\) has invalid type Drupal\\\\helfi_atv_test\\\\Response\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/tests/modules/helfi_atv_test/src/MockClientFactory.php

    -
      message: "#^Parameter \\$response of method Drupal\\\\helfi_atv_test\\\\MockClientFactory\\:\\:addResponse\\(\\) has invalid type Drupal\\\\helfi_atv_test\\\\ResponseException\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/tests/modules/helfi_atv_test/src/MockClientFactory.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Http\\\\ClientFactory\\:\\:addResponse\\(\\)\\.$#"
      count: 15
      path: public/modules/custom/helfi_atv/tests/src/Kernel/AtvServiceHeaderTest.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Http\\\\ClientFactory\\:\\:getHeaders\\(\\)\\.$#"
      count: 15
      path: public/modules/custom/helfi_atv/tests/src/Kernel/AtvServiceHeaderTest.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Http\\\\ClientFactory\\:\\:addResponse\\(\\)\\.$#"
      count: 12
      path: public/modules/custom/helfi_atv/tests/src/Kernel/AtvServiceTest.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Http\\\\ClientFactory\\:\\:getRequestUrl\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/tests/src/Kernel/AtvServiceTest.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Http\\\\ClientFactory\\:\\:addResponse\\(\\)\\.$#"
      count: 2
      path: public/modules/custom/helfi_atv/tests/src/Kernel/RequestTest.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Http\\\\ClientFactory\\:\\:getRequest\\(\\)\\.$#"
      count: 2
      path: public/modules/custom/helfi_atv/tests/src/Kernel/RequestTest.php

    -
      message: "#^Call to method fromYamlFile\\(\\) on an unknown class League\\\\OpenAPIValidation\\\\PSR7\\\\ValidatorBuilder\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/tests/src/Kernel/RequestTest.php

    -
      message: "#^Call to method validate\\(\\) on an unknown class League\\\\OpenAPIValidation\\\\PSR7\\\\RequestValidator\\.$#"
      count: 2
      path: public/modules/custom/helfi_atv/tests/src/Kernel/RequestTest.php

    -
      message: "#^Instantiated class League\\\\OpenAPIValidation\\\\PSR7\\\\ValidatorBuilder not found\\.$#"
      count: 1
      path: public/modules/custom/helfi_atv/tests/src/Kernel/RequestTest.php

    -
      message: "#^Property Drupal\\\\Tests\\\\helfi_atv\\\\Kernel\\\\RequestTest\\:\\:\\$validator has unknown class League\\\\OpenAPIValidation\\\\PSR7\\\\RequestValidator as its type\\.$#"
      count: 2
      path: public/modules/custom/helfi_atv/tests/src/Kernel/RequestTest.php

    -
      message: "#^Method Drupal\\\\helfi_audit_log\\\\Event\\\\AuditLogEvent\\:\\:isValid\\(\\) should return bool but returns string\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/Event/AuditLogEvent.php

    -
      message: "#^PHPDoc tag @var for property Drupal\\\\helfi_audit_log\\\\Event\\\\AuditLogEvent\\:\\:\\$isValid with type bool is incompatible with native type string\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/Event/AuditLogEvent.php

    -
      message: "#^Property Drupal\\\\helfi_audit_log\\\\Event\\\\AuditLogEvent\\:\\:\\$isValid \\(string\\) does not accept bool\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/Event/AuditLogEvent.php

    -
      message: "#^Property Drupal\\\\helfi_audit_log\\\\Event\\\\AuditLogEvent\\:\\:\\$isValid \\(string\\) does not accept true\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/Event/AuditLogEvent.php

    -
      message: "#^PHPDoc tag @param for parameter \\$auditLogService with type Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Drupal\\\\helfi_audit_log\\\\AuditLogServiceInterface is not subtype of native type Drupal\\\\helfi_audit_log\\\\AuditLogServiceInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^PHPDoc tag @param for parameter \\$logger with type Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Psr\\\\Log\\\\LoggerInterface is not subtype of native type Psr\\\\Log\\\\LoggerInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^PHPDoc tag @var for property Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\AuditLogEventSubscriber\\:\\:\\$auditLogService with type Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Drupal\\\\helfi_audit_log\\\\AuditLogServiceInterface is not subtype of native type Drupal\\\\helfi_audit_log\\\\AuditLogServiceInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^PHPDoc tag @var for property Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\AuditLogEventSubscriber\\:\\:\\$logger with type Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Psr\\\\Log\\\\LoggerInterface is not subtype of native type Psr\\\\Log\\\\LoggerInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^Parameter \\$auditLogService of method Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\AuditLogEventSubscriber\\:\\:__construct\\(\\) has invalid type Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Drupal\\\\helfi_audit_log\\\\AuditLogServiceInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^Parameter \\$logger of method Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\AuditLogEventSubscriber\\:\\:__construct\\(\\) has invalid type Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Psr\\\\Log\\\\LoggerInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^Property Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\AuditLogEventSubscriber\\:\\:\\$auditLogService has unknown class Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Drupal\\\\helfi_audit_log\\\\AuditLogServiceInterface as its type\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^Property Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\AuditLogEventSubscriber\\:\\:\\$logger has unknown class Drupal\\\\helfi_audit_log\\\\EventSubscriber\\\\Psr\\\\Log\\\\LoggerInterface as its type\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/src/EventSubscriber/AuditLogEventSubscriber.php

    -
      message: "#^Access to an undefined property Drupal\\\\helfi_audit_log_test\\\\AuditLogServiceTest\\:\\:\\$message\\.$#"
      count: 2
      path: public/modules/custom/helfi_audit_log/tests/modules/helfi_audit_log_test/src/AuditLogServiceTest.php

    -
      message: "#^Access to an undefined property Drupal\\\\helfi_audit_log_test\\\\AuditLogServiceTest\\:\\:\\$origin\\.$#"
      count: 2
      path: public/modules/custom/helfi_audit_log/tests/modules/helfi_audit_log_test/src/AuditLogServiceTest.php

    -
      message: "#^Call to an undefined method Drupal\\\\helfi_audit_log\\\\AuditLogServiceInterface\\:\\:getValues\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/tests/src/Kernel/AuditLogServiceTest.php

    -
      message: "#^PHPDoc type array of property Drupal\\\\Tests\\\\helfi_audit_log\\\\Kernel\\\\AuditLogServiceTest\\:\\:\\$modules is not covariant with PHPDoc type array\\<string\\> of overridden property Drupal\\\\KernelTests\\\\KernelTestBase\\:\\:\\$modules\\.$#"
      count: 1
      path: public/modules/custom/helfi_audit_log/tests/src/Kernel/AuditLogServiceTest.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:getChangedTime\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:getCreatedTime\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:getDisplayName\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:getEmail\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^Method Drupal\\\\helfi_gdpr_api\\\\Controller\\\\HelfiGdprApiController\\:\\:get\\(\\) has invalid return type Drupal\\\\Component\\\\Serialization\\\\JsonResponse\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^PHPDoc tag @param for parameter \\$userStorage with type Drupal\\\\helfi_gdpr_api\\\\Controller\\\\Drupal\\\\user\\\\UserStorageInterface is not subtype of native type Drupal\\\\user\\\\UserStorageInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^PHPDoc tag @return with type Drupal\\\\Component\\\\Serialization\\\\JsonResponse is not subtype of native type Symfony\\\\Component\\\\HttpFoundation\\\\JsonResponse\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^PHPDoc tag @var for property Drupal\\\\helfi_gdpr_api\\\\Controller\\\\HelfiGdprApiController\\:\\:\\$audienceConfig with type mixed is not subtype of native type array\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^Parameter \\$userStorage of method Drupal\\\\helfi_gdpr_api\\\\Controller\\\\HelfiGdprApiController\\:\\:__construct\\(\\) has invalid type Drupal\\\\helfi_gdpr_api\\\\Controller\\\\Drupal\\\\user\\\\UserStorageInterface\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^Unsafe usage of new static\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_gdpr_api/src/Controller/HelfiGdprApiController.php

    -
      message: "#^Call to an undefined method Drupal\\\\Core\\\\Session\\\\AccountInterface\\:\\:get\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_helsinki_profiili/src/HelsinkiProfiiliUserData.php

    -
      message: "#^Call to an undefined method Drupal\\\\helfi_tunnistamo\\\\Plugin\\\\OpenIDConnectClient\\\\Tunnistamo\\:\\:getPlugin\\(\\)\\.$#"
      count: 1
      path: public/modules/custom/helfi_helsinki_profiili/src/HelsinkiProfiiliUserData.php

    -
      message: "#^Call to deprecated constant REQUEST_TIME\\: Deprecated in drupal\\:8\\.3\\.0 and is removed from drupal\\:11\\.0\\.0\\. Use \\\\Drupal\\:\\:time\\(\\)\\-\\>getRequestTime\\(\\); $#"
      count: 1
      path: public/modules/custom/helfi_helsinki_profiili/src/HelsinkiProfiiliUserData.php

    -
      message: "#^in drupal:8.3.0 and is removed from drupal:11.0.0.#"
      count: 1
      path: public/modules/custom/helfi_helsinki_profiili/src/HelsinkiProfiiliUserData.php
