/*
* Supplementary button styles on webform. Used on delete draft,
* save draft and print buttons.
* TODO: Remove these styles when webforms are deleted.
*/
.hds-button.hds-button--supplementary {
  --background-color-hover: rgb(0 0 0 / 10%);
  text-decoration: none;

  .hds-button__label {
    text-decoration: underline;
  }

  &:hover .hds-button__label {
    text-decoration: none;
  }

  &:hover {
    background-color: var(--background-color-hover);

    .hds-button__label {
      text-decoration: none;
    }
  }

  &::after, &::before {
    display:none !important;
  }
}
