<div class="application-timeout-message" role="alert">
  <section aria-label="Notification" class="hds-notification hds-notification--error">
    <div class="hds-notification__content">
      <div class="hds-notification__label" role="heading" aria-level="2">
        <span class="hel-icon hel-icon--alert-circle-fill" aria-hidden="true"></span>
        <span>{{ message }}</span>
      </div>
    </div>
  </section>
</div>
