{#
/**
 * @file
 * Theme implementation for ATV document.
 *
 * Available variables:
 * - atv_document
 * - pages
 *
 * @see template_preprocess_print_atv_document()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(classes) }}>
 {% for key, page in pages %}
    <h2>{{ page.label }}</h2>
   <div class="grants-profile--extrainfo">
   <dl class="webform-section-grid-wrapper">
    {% for key, field in page.fields %}
        <dt class="webform-section-title">{{ field.label }}</dt>
        <dd class="webform-section-wrapper">{{ field.value }}</dd>
    {% endfor %}
   </dl>
   </div>
 {% endfor %}
</div>
