# =======================
# Environment variables
# =======================

# IMPORTANT: Copy the relevant values from local.settings.php to these environment variables
ATV_BASE_URL="http://example.com"
ATV_API_KEY="your_api_key_here"
APP_ENV="LOCAL"



# =======================
# List of IDs
# =======================

# clean-env-for-testing.sh searches for these IDs from ATV
# and removes any found documents

USER_IDS=("uuid1" "uuid2" "uuid3")
BUSINESS_IDS=("business1" "business2" "business3")
