li+li[role="option"] {
  margin-top: 0;
}
.react-form-section .webform-section-wrapper {
  border-left: var(--spacing-3-xs) var(--color-gold) solid;
  padding-left: var(--spacing-s);
  margin-top: var(--spacing-s);
}
