.sidebar-important-links {
  margin-top: var(--spacing-2-xl);

  .sidebar-text .sidebar-text__text-content>p {
    padding: $spacing var(--spacing-m);
  }
}

.sidebar-text {
  @include font('body');
}

.sidebar-second h2 {
  @include font('h4');
  color: $color-black;
  margin-top: 0;

  & + .sidebar-text__text-content {
    margin-top: $spacing-and-half;
  }
}

.sidebar-text__text-content {
  @include font('small');
  color: var(--hdbt-color-palette-text--secondary);

  p {
    background-color: var(--color-black-5);
    margin: 0;
    padding: $spacing-and-half $spacing;
  }
}
