{% embed '@hdbt/content/node.html.twig' %}

  {% block main_content %}

    {# Lead-in text, if any #}
    {{ content.field_lead_in }}

    {# Page divider, normally it comes from table of contents, but news does not have that #}
    <div class="page-divider"></div>

    {{ content.field_content }}

    <div class="components components--errand-services">
      <div class="components__container">
        {{ content.field_errand_service }}
      </div>
    </div>

    <div class="components components--bottom-content">
      <div class="components__container">
        {{ content.field_bottom_content }}
      </div>
    </div>

  {% endblock main_content %}

{% endembed %}
