{% embed '@hdbt/content/node.html.twig' %}

  {% block main_content %}

    {# Lead-in text, if any #}
    {{ content.field_lead_in }}

    {# Page divider, normally it comes from table of contents, but news does not have that #}
    <div class="page-divider"></div>

    {{ content.field_content }}

    {% if content.field_errand_service|render %}
      <div class="components components--errand-services">
        {% embed "@hdbt/misc/component.twig" with
          {
            component_classes: [ 'component', 'component--errand-service' ],
          }
        %}
          {% block component_content %}
            {{ content.field_errand_service }}
          {% endblock component_content %}
        {% endembed %}
      </div>
    {% endif %}

    {% if content.field_bottom_content|render %}
      <div class="components components--bottom-content">
        {% embed "@hdbt/misc/component.twig" with
          {
            component_classes: [ 'component', 'component--bottom-content' ],
          }
        %}
          {% block component_content %}
            {{ content.field_bottom_content }}
          {% endblock component_content %}
        {% endembed %}
      </div>
    {% endif %}
  {% endblock main_content %}

{% endembed %}
