helfi_grants.forms_app:
  path: '/application/{id}/render'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::formsApp'
    _title: ''
  requirements:
    _role: helsinkiprofiili

helfi_grants.forms_app_upload:
  path: '/application/{id}/upload'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::uploadFile'
    _title: ''
  methods: [POST]
  requirements:
    _role: helsinkiprofiili
