helfi_grants.forms_app:
  path: '/application/new/{form_identifier}/{application_number}'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::formsApp'
    _title_callback: '\Drupal\grants_application\Controller\ApplicationController::getFormTitle'
    application_number: NULL
    use_draft: TRUE
  requirements:
    _role: helsinkiprofiili

helfi_grants.forms_app_edit:
  path: '/application/new/{form_identifier}/{application_number}/edit'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::formsApp'
    _title_callback: '\Drupal\grants_application\Controller\ApplicationController::getFormTitle'
    use_draft: FALSE
  requirements:
    _role: helsinkiprofiili

helfi_grants.forms_app_copy_application:
  path: '/application/new/{application_type_id}/{original_id}/copy'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::copyApplication'
    _title_callback: '\Drupal\grants_application\Controller\ApplicationController::getFormTitle'
  requirements:
    _role: helsinkiprofiili

helfi_grants.debug_controller:
  path: '/debugmapper'
  defaults:
    _controller: '\Drupal\grants_application\Controller\MapperDebugController::map'
  requirements:
    _access: "TRUE"

helfi_grants.forms_app_upload:
  path: '/application/{application_number}/upload'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::uploadFile'
  methods: [POST]
  requirements:
    _role: helsinkiprofiili

helfi_grants.forms_app_delete_file:
  path: '/application/{application_number}/delete/{attachmentId}'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::removeFile'
  methods: [POST]
  requirements:
    _role: helsinkiprofiili

helfi_grants.forms_app_remove:
  path: '/application/{id}/remove'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::removeApplication'
  methods: [GET, POST]
  requirements:
    _role: helsinkiprofiili

helfi_grants.completion:
  path: '/application/{application_number}/completion'
  defaults:
    _title_callback: '\Drupal\grants_application\Controller\CompletionController::getTitle'
    _controller: '\Drupal\grants_application\Controller\CompletionController::build'
  requirements:
    _role: helsinkiprofiili

helfi_grants.print_view:
  path: '/application/{id}/print'
  defaults:
    _controller: '\Drupal\grants_application\Controller\ApplicationController::printApplication'
  requirements:
    _role: helsinkiprofiili

entity.application_metadata.collection:
  path: '/admin/tools/application-metadata'
  defaults:
    _entity_list: 'application_metadata'
    _title: 'Application Metadata'
  requirements:
    _permission: 'access application_metadata overview'

entity.application_metadata.canonical:
  path: '/admin/tools/application-metadata/{application_metadata}'
  defaults:
    _entity_view: 'application_metadata.default'
    _title_callback: '\Drupal\Core\Entity\Controller\EntityController::title'
    _title: 'Application metadata'
  requirements:
    _entity_access: 'application_metadata.view'
  options:
    parameters:
      application_metadata:
        type: 'entity:application_metadata'
    _admin_route: TRUE

entity.application_metadata.add_form:
  path: '/admin/tools/application-metadata/add'
  defaults:
    _entity_form: 'application_metadata.default'
    _title: 'Add application metadata'
  requirements:
    _entity_create_access: 'application_metadata'

entity.application_metadata.edit_form:
  path: '/admin/tools/application-metadata/{application_metadata}/edit'
  defaults:
    _entity_form: 'application_metadata.default'
    _title: 'Edit application metadata'
  requirements:
    _entity_access: 'application_metadata.update'

entity.application_metadata.delete_form:
  path: '/admin/tools/application-metadata/{application_metadata}/delete'
  defaults:
    _entity_form: 'application_metadata.delete'
    _title: 'Delete application metadata'
  requirements:
    _entity_access: 'application_metadata.delete'
