<div class="container">
  <h2>{{ "Association information"|t({}, {'context': 'grants_profile'}) }}</h2>
  <p class="grants-profile--infotext">{{ "To apply for grants, the community data must be completed. When you submit a grant application, the information you have provided will be filled in automatically."|t({}, {'context': 'grants_profile'}) }}</p>
  <div class="grants-profile">
    {% include '@grants_profile/components/prh-content.twig' with {
      title: "Community official information"|t({}, {'context': 'grants_profile'}),
      applicant_info_upper: [
        {
          label: "Name of association"|t({}, {'context': 'grants_profile'}),
          value: profile.companyName,
        },
        {
          label: "Business ID"|t({}, {'context': 'grants_profile'}),
          value: profile.businessId,
        },
         {
          label: "Date of registration"|t({}, {'context': 'grants_profile'}),
          value: profile.registrationDate|date('d.m.Y'),
        },
      ],
      applicant_info_lower: [
        {
          label: "Municipality where the association is based (domicile)"|t({}, {'context': 'grants_profile'}),
          value: profile.companyHome,
        },
      ],
    } %}
    {% include '@grants_profile/components/profile-information.twig' with {
      title: "Association information in Grants"|t({}, {'context': 'grants_profile'}),
      extra_info: [
        {
          title: "Year of establishment"|t({}, {'context': 'grants_profile'}),
          id: "perustamisvuosi",
          value: profile.foundingYear,
        },
        {
          title: "Abbreviated name"|t({}, {'context': 'grants_profile'}),
          id: "yhteison-lyhenne",
          value: profile.companyNameShort,
        },
        {
          title: "Website address"|t({}, {'context': 'grants_profile'}),
          id: "verkkosivujen-osoite",
          value: profile.companyHomePage,
        },
        {
          title: "Purpose of operations"|t({}, {'context': 'grants_profile'}),
          id: "toiminna-tarkoitus",
          value: profile.businessPurpose,
        }
      ],
      addresses: profile.addresses,
      bankAccounts: profile.bankAccounts,
      officials: profile.officials,
      editProfileLink: editProfileLink,
    } %}
  </div>
</div>
