<div class="container">
<h2 class="grants-profile--title">{{ "Personal information"|t({}, {'context': 'Yksityishenkilön asiointi'}) }}</h2>
  <p class="grants-profile--infotext">{{ "Applying for grants requires completing your own personal information. When applying for a grant the information you have provided in your personal information will automatically be imported into the grant application."|t({}, {'context': 'grants_profile'}) }}</p>
  <div class="grants-profile">
    {# PRH content #}
    {{ basic_info }}
    {% include '@grants_profile/components/profile-information.twig' with {
      title: "Own contact information"|t({}, {'context': 'Yksityishenkilön asiointi'}),
      extra_info: [
        {
          title: 'Phone number'|t,
          id: "phone-number",
          value: profile.phone_number,
        }
      ],
      addresses: profile.addresses,
      bankAccounts: profile.bankAccounts,
      editProfileLink: editProfileLink,
    } %}
  </div>
</div>
