/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
/* stylelint-disable declaration-property-value-keyword-no-deprecated -- @todo UHF-12501 */
/* stylelint-disable scss/at-extend-no-missing-placeholder -- @todo UHF-12501 */
.js-form-type-webform-table {
  table {
    width: 100%;
  }

  th {
    text-align: left;
  }

  td {
    vertical-align: middle;

    > div {
      height: auto;
      margin-bottom: 0;

      label {
        margin: -1px;
      }
    }
  }

  .hds-text-input label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.form-item {
  margin-bottom: var(--spacing-layout-xs);
  position: relative;

  input[type="date"],
  input[type="time"] {
    appearance: none;
    background-color: var(--input-background-default);
    border: var(--border-width) solid var(--input-border-color-default);
    box-sizing: border-box;
    color: var(--input-color-default);
    font-size: 1.125em;
    height: var(--input-height);
    line-height: normal;
    padding: 0 $spacing;
    width: 100%;
    will-change: transform,box-shadow;
  }

  .description {
    color: $color-black-60;
  }
}

.webform-section {
  padding-bottom: var(--spacing-layout-2-xs);

  table:first-of-type {
    margin-top: 0;
  }
}

.form-type-webform-multiple .webform-multiple-table table {
  max-width: 100%;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    width: auto;
  }
}

.hds-text-input {
  max-width: fit-content;
  width: 100%;

  &.js-form-type-textarea {
    max-width: var(--webform-element-width--input-large);
  }
}

.webform-section-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint($breakpoint-m) {
    grid-row-gap: var(--spacing-xl);
    grid-template-columns: 1fr 2fr;
  }

  > dt.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    flex-shrink: 0;
    font-size: var(--fontsize-heading-s);
    font-weight: 500;
    hyphens: none;
    line-height: 1;
    margin-bottom: var(--spacing-3-xs);
    margin-top: 0;
    padding-right: var(--spacing-2-xl);
    width: 100%;
  }

  .webform-section-wrapper {
    margin-bottom: var(--spacing-layout-xs);
    padding-left: var(--spacing-2-xl);

    @include breakpoint($breakpoint-m) {
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}

fieldset input[type="button"] {
  margin-top: var(--spacing-m);
}

.webform-section-wrapper > .description {
  margin-bottom: var(--spacing-layout-xs);
}

.grants__page-header {
  font-size: 2rem;
  margin-bottom: var(--spacing-layout-l);

  @include breakpoint($breakpoint-m) {
    font-size: 3rem;
  }
}

.webform-section-flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    flex-flow: row nowrap;

    h3 + * > *:first-child > label:first-of-type,
    h3 + * > *:first-child > *:first-child > label:first-of-type {
      margin-top: $spacing-half;
      padding-top: 0;
    }

    h3 + * > *:first-child {
      > p {
        line-height: initial;
        margin-top: $spacing-half;
      }

      > h4 {
        line-height: initial;
        margin-top: var(--spacing-m);
      }
    }
  }

  .webform-element-help-container--title {
    position: relative;
  }

  > h2.webform-section-title, > h3.webform-section-title, > h4.webform-section-title, > dt.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 500;
    hyphens: manual;
    margin-bottom: var(--spacing-3-xs);
    margin-top: 0;
    padding-right: var(--spacing-2-xl);
    width: 100%;

    @include breakpoint($breakpoint-m) {
      font-size: 32px;
      max-width: 350px;
      width: 30%;
    }
  }

  h4 {
    font-size: var(--fontsize-heading-m);
    line-height: 38px;
  }

  > .webform-section-wrapper {
    --line-height: 1.5;
    font-size: var(--fontsize-body-m);
    width: 100%;

    @include breakpoint($breakpoint-m) {
      padding-left: var(--spacing-2-xl);
    }
  }

  .form-required::after {
    content: '*';
    display: inline;
  }

  // Note. Fieldset, legend, label and help-button styles are so fragile that
  // the whole fieldset component needs refactoring. If you need to change
  // styles concerning the fieldset or fieldset legend components, make sure
  // to thoroughly test your changes as a single change can potentially
  // affect multiple components in the each webform.
  legend, label {
    display: block;
    font-size: var(--fontsize-body-m);
    font-weight: 500;
    margin-bottom: $spacing-half;
    max-width: fit-content;
    position: relative;
  }

  // Set the default values for legend position in a fieldset.
  legend {
    left: auto;
    margin-left: calc($spacing-half * -1);
    padding: 0 $spacing-half;
  }

  // Set the default right padding for the fieldset legend and label,
  // if there is a help button next to the label.
  legend:has(button.webform-element-help),
  label:has(button.webform-element-help) {
    padding-right: var(--spacing-xl);
  }

  // Fix the position of a span label in the fieldset with a help button.
  fieldset legend > span:has(button.webform-element-help) {
    padding-right: var(--spacing-xl);
  }

  // Fix the position of the legend inside the fieldset with a help button,
  // when a fieldset is masking itself as a field group or the span element
  // inside the fieldset legend has class fieldset-legend.
  fieldset legend > span.fieldset-legend:has(button.webform-element-help),
  fieldset.fieldgroup legend > span:has(button.webform-element-help):not(.visually-hidden.fieldset-legend) {
    padding-right: $spacing-double;
  }

  // Fix the position of the span inside the legend with help button,
  // when fieldset is marked as "grants-fieldset". Apply the same padding
  // to the span element inside a fieldset masking itself as a field group.
  fieldset legend > span.fieldset-legend:has(button.webform-element-help),
  fieldset.fieldgroup legend span.fieldset-legend:not(.visually-hidden):has(button.webform-element-help) {
    padding-right: 0;
  }

  label.hds-radio-button__label {
    font-weight: normal;
  }

  .checkboxes--wrapper label {
    font-weight: normal;
  }

  .js-form-type-textarea {
    .hds-text-input__input-wrapper {
      display: block;
    }
  }

  .has-error,
  .grant-applications--select-wrapper:has(.has-error) {
    border-color: var(--color-error);
  }
}

form .hds-text-input__input-wrapper, .hds-text-input__input-wrapper  {
  flex-flow: row wrap;

  .text-count-wrapper {
    flex-basis: 100%;
  }

  input, textarea {
    &.webform--small {
      max-width: var(--webform-element-width--input-small);
      min-width: var(--webform-element-width--input-small);
      width: 100%;
    }

    &.webform--medium {
      max-width: var(--webform-element-width--input-medium);
      min-width: var(--webform-element-width--input-small);
      width: 100%;
    }

    &.webform--large {
      max-width: var(--webform-element-width--input-large);
      min-width: var(--webform-element-width--input-small);
      width: 100%;
    }
  }
}

.webform--small div.grant-applications--select-wrapper {
  max-width: var(--webform-element-width--input-small);
  min-width: var(--webform-element-width--input-small);
  width: 100%;
}

.webform--medium div.grant-applications--select-wrapper {
  max-width: var(--webform-element-width--input-medium);
  min-width: var(--webform-element-width--input-small);
  width: 100%;
}

.webform--large div.grant-applications--select-wrapper {
  max-width: var(--webform-element-width--input-medium);
  min-width: var(--webform-element-width--input-small);
  width: 100%;
}

form .hds-checkbox {
  display:block;

  label.hds-checkbox__label::after {
    content: '';
  }
}

fieldset.webform-composite-hidden-title {
  margin-bottom: var(--spacing-layout-2-xs);
  margin-top: 0;
}

.form-item-bank-account-account-number-select,
.form-item-community-address-community-address-select {
  margin-bottom: 0;
}

.hakemus-form-page {
  .main-content {
    margin-top: 0;
  }

  h1 {
    hyphens: auto;
    word-break: break-word;
  }
}

.hakemus-form-errors ul li {
  list-style-type: none;
}

.community_officials_wrapper {
  .webform-readonly {
    margin: 0;
  }

  .hds-text-input__input-wrapper {
    margin: 0;
  }

  input[readonly="readonly"] {
    height: 1.25rem;
    margin: 0;
    max-width: 330px;
  }
}

.form-item--error-message {
  color: var(--color-error);
  margin-bottom: var(--spacing-layout-s);
  margin-top: var(--spacing-layout-2-xs);

  fieldset &,
  .community_officials_wrapper & {
    margin-bottom: 0;
  }

  &::before {
    --icon-size: 1.6rem;

    @include pseudo-icon('alert-circle-fill');
    background-color: var(--color-error);
    content: ' ';
    display: inline-block;
  }
}

input[type='radio'] + label.form-required::after {
  content: '';
}

.hds-radio-button:last-of-type, .hds-checkbox:last-of-type {
  margin-bottom: 0;

  > label {
    margin-bottom: 0;
  }
}

/* Styles for the Place of Operation Composite component */
.place-of-operation-composite--wrapper.fieldgroup,
.club-section-composite--wrapper.fieldgroup {
  .hds-text-input {
    @include breakpoint($breakpoint-l) {
      max-width: 100%;
    }
  }

  .hds-radio-button .hds-radio-button__label {
    line-height: var(--lineheight-m)!important;
  }
}

.place-of-operation-group {
  &__location,
  &__students,
  &__groups,
  &__personnel,
  &__rent,
  &__time {
    @include breakpoint($breakpoint-l) {
      display: flex;
      justify-content: space-between;
    }

    &--address {
      @include breakpoint($breakpoint-l) {
        margin-top: 0 !important;
        width: 65%;
      }
    }

    &--post-code {
      @include breakpoint($breakpoint-l) {
        margin-top: 0 !important;
        width: 30%;
      }
    }

    &--student-count,
    &--special-student-count,
    &--group-count,
    &--special-group-count,
    &--personnel-count,
    &--rent-amount,
    &--time-start,
    &--time-end {
      @include breakpoint($breakpoint-l) {
        margin-top: 0 !important;
        width: 47.5%;
      }
    }
  }
}

.club-section__participants {
  @include breakpoint($breakpoint-m) {
    display: flex;
    gap: $spacing-double;
    justify-content: space-between;
  }

  input.form-text.hds-text-input__input {
    max-width: 100%;
    width: 100%;
  }
}

.club-section__totalhours {
  input.form-text.hds-text-input__input {
    max-width: 100%;
    width: 100%;
  }
}

.club-section__participants label {
  text-wrap: balance;
}

.hel-icon--size {
  &-xs {
    --icon-size: var(--spacing-layout-2-xs);
  }

  &-s {
    --icon-size: var(--spacing-layout-xs);
  }

  &-m {
    --icon-size: var(--spacing-layout-s);
  }

  &-l {
    --icon-size: var(--spacing-layout-m);
  }

  &-xl {
    --icon-size: var(--spacing-layout-l);
  }
}

.hds-text-input__input-wrapper:focus-within:has(input[readonly]) {
  margin-right: $spacing-half;
  outline: 2px var(--color-black) solid;
  outline-offset: 2px;

  input[readonly] {
    width: calc(100% - $spacing-half);
  }
}

.grants-attachments--fields-wrapper .button--delete-attachment{
  margin-top: var(--spacing-layout-xs);
}

.form-group:not(:last-child) {
  &.field-string,
  &.field-integer {
    margin-block-end: $spacing-and-half;
  }
}

.hdbt-form--section__title {
  margin-block: 0 $spacing;

  @include breakpoint($breakpoint-m) {
    margin: 0;
    width: 33%;
  }
}

.hdbt-form--section {
  margin-block-end: $spacing-triple;

  @include breakpoint($breakpoint-m) {
    display: flex;
    gap: $spacing-triple;
  }
}

.hdbt-form--section__content {
  @include breakpoint($breakpoint-m) {
    width: 67%;
  }
}

.hdbt-form--description,
.help-block {
  color: $color-black-60;
  margin-block-end: $spacing-and-half;
}

.hdbt-form--fieldset {
  margin-inline: 0;
}

// Target array items that are not in preview section
// Add same styles to fieldset that are not in array-item
.array-item:not(.grants-form--preview-section .array-item),
.field-object:not(.array-item .field-object) > .hdbt-form--fieldset--border,
.hdbt-form--fieldset--border {
  border: 2px solid $color-black-50;
  margin-block-end: $spacing-and-half;
  margin-inline: 0;
  padding: $spacing-double;
}

.field .hdbt-form--fieldset {
  padding: 0;

  legend {
    margin-block: 0 $spacing;
  }
}


// Align legend when fieldset is not in array item
.field-object:not(.array-item .field-object) > .hdbt-form--fieldset--border,
.hdbt-form--fieldset--border {
  legend {
    float: left;
  }

  legend + * {
    clear: both;
  }
}

.hdbt-form--fieldset--border > legend {
  @include font('h4');
  margin-block-end: $spacing-and-half;
  width: 100%;

  & + .hdbt-form--description {
    margin-block-start: calc(-1 * #{$spacing});
  }
}

.hdbt-form--fieldset--border:not(:has(+ div .button)),
.hdbt-form--fieldset--border .fieldset-wrapper .form-item:last-of-type  {
  margin-block-end: 0;
}

.hdbt-form--fieldset--border .fieldset-wrapper .hds-button,
.hdbt-form--fieldset--border + .hdbt-form--fieldset--border {
  margin-top: $spacing-and-half;
}


// TODO: Remove when HDS supports file input styling
.hdbt-form--fileinput {
  & > div:first-child > div:first-child > div:first-child {
    border-color: $color-black;
    color: $color-black;
  }

  // These are copied from _button.scss in hdbt
  // remove when HDS supports file input styling
  button {
    --background-color: var(--theme-bg2, transparent);
    --background-color-hover: var(--theme-bg1, var(--color-bus-light));
    --background-color-focus: var(--theme-bg2, transparent);
    --background-color-hover-focus: var(--theme-bg1, var(--color-bus-light));
    --background-color-disabled: transparent;

    // Borders
    --border-color: var(--theme-bg1, var(--color-bus));
    --border-color-hover: var(--theme-bg2, var(--color-bus-dark));
    --border-color-focus: var(--theme-bg1, var(--color-bus));
    --border-color-hover-focus: var(--theme-bg2, var(--color-bus-dark));
    --border-color-disabled: var(--color-black-50);

    // Colors
    --color: var(--theme-fg2, var(--color-bus));
    --color-hover: var(--theme-fg1, var(--color-bus-dark));
    --color-focus: var(--theme-fg2, var(--color-bus));
    --color-hover-focus: var(--theme-fg1, var(--color-bus-dark));
    --color-disabled: var(--color-black-40);

    // Focus ring
    --focus-outline-color: var(--theme-focus, var(--color-coat-of-arms));
    --submit-input-focus-gutter-color: var(--theme-focus-gutter-color, var(--color-white));
  }
}

.hdbt-form--paragraph__title {
  margin-block: 0 $spacing-half;
}

.hdbt-form--paragraph__content,
.hdbt-form--notification {
  margin-block: 0 $spacing-and-half;
}

.hdbt-form--select label + div {
  margin-bottom: 0;
}

.hdbt-form--actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-half;
  justify-content: right;

  button {
    width: 100%;

    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }

  button.hdbt-form--pager-button {
    width: calc(50% - $spacing-quarter);

    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }
}

.prh-content-block {
  background-color: $color-black-5;
  border-bottom: $spacing-half solid $color-engel-dark;
  margin-bottom: $spacing-quadruple;
  padding: $spacing-double;

  & > p {
    margin-block: 0 $spacing-and-half;
  }
}

.prh-content-block__title {
  margin-block: 0 $spacing-and-half;
}

.prh-content-block__content-row {
  border-top: 1px solid $color-black-20;
  display: grid;
  gap: $spacing-and-half;
  grid-template-columns: repeat(1, 1fr);
  margin-block-end: $spacing;
  padding-block-start: $spacing;

  @include breakpoint($breakpoint-s) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint($breakpoint-m) {
    grid-template-columns: repeat(3, 1fr);
  }

  &:last-child {
    margin-block-end: 0;
  }
}

.prh-content-block__content-row__link {
  display: block;
}

.prh-content-block__item__label {
  font-weight: $font-weight-medium;
  margin-block-end: $spacing-half;
}

.hdbt-form--stepper {
  margin-block: $spacing-quadruple;

  // Fixes stepper circle size
  button {
    box-sizing: content-box;
  }

  // Styles for non-current step button texts
  button[aria-current='false'] {
    p {
      text-decoration-thickness: remify(1px);
      text-underline-offset: 10%;
    }

    &:hover p,
    &:focus p {
      text-decoration-thickness: remify(2px);
    }
  }

  div:has(svg[aria-label='error']) {
    border-color: $color-error;
  }

  svg[aria-label='error'] {
    color: $color-error;
  }
}

.grants-form__page-title {
  margin-block-end: $spacing-quadruple;
}

.grants-form__notification-container {
  margin-block-end: $spacing-triple;

  .hdbt-form--notification:last-of-type {
    margin-block-end: 0;
  }
}

.grants-form--preview-section {
  .field {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: $font-weight-medium;
    margin-block-end: $spacing;
  }

  .array-item {
    border: 2px solid $color-black-50;
    margin-block-end: $spacing-and-half;
    padding: $spacing;

    .field-object:first-of-type > label {
      @include font('h5')
    }
  }
}

.grants-form---terms {
  margin-block-end: $spacing-triple;
}

.hdbt-form--fileinput .hdbt-form--checkbox:not(:first-of-type) {
  // Margin-top to override HDS default margin
  margin-top: $spacing;
}

.hdbt-form--fieldset .hdbt-form--radiobutton:not(:first-of-type) {
  // Margin-top to override HDS default margin
  margin-top: $spacing;
}

.hdbt-form--radiobutton + .hdbt-form--notification {
  margin-block: $spacing 0;
}