.hds-checkbox__input label {
  font-weight: normal;
}

fieldset.grants-attachments--wrapper {
  margin-bottom: var(--spacing-layout-m);

  legend {
    margin-bottom: $spacing-half;
  }

  .form-item--error-message {
    width: 100%;
  }

  .js-form-type-managed-file {
    margin-bottom: 0;
  }
}

.grants-applications-managed_file {
  position:relative;

  label.hds-button--secondary:not(:disabled, .eu-cookie-compliance-default-button, .eu-cookie-compliance-save-preferences-button) {
    left: 0;
    position: relative;

    &:has(input:disabled) {
      background-color: var(--background-color-disabled, transparent);
      border-color: var(--border-color-disabled, transparent);
      color: var(--color-disabled);
      cursor: not-allowed;
    }

    &:focus-within {
      background: var(--color-black);
      border-color: var(--color-white);
      color: var(--color-white);
      outline: 2px var(--color-black) solid;
    }
  }

  input[type='file'] {
    opacity: 0;
    position: absolute;
  }

}

.form-managed-file {
  display: flex;
  flex-wrap: wrap;
  white-space: unset;

  > span {
    background-color: var(--color-info-light);
    border-bottom: 2px dotted var(--color-coat-of-arms);
    display: inline-block;
    padding: $spacing $spacing-half;
  }

  > .file-upload-js-error {
    flex-basis: 100%;
  }
}

.grants-applications-managed_file label.hds-button {
  display: flex;
}

.grants-attachments--wrapper .webform-readonly {
  display: none;
}

// Handle the placeholder text overflow on long file names.
.grants-handler-message .form-item--error-message,
.grants-attachments--fields-wrapper .form-item--error-message,
.hds-notification--error .hds-notification__body {
  .placeholder {
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }
}

// Handle the paddings of the error message list.
.grants-attachments--fields-wrapper .form-item--error-message {
  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}

.grants-handler-message .form-type-managed-file {
  // Handle the paddings of the message attachment button and uploaded file name.
  dd,
  span.file {
    margin-inline-start: 0;
  }

  // Handle the placeholder text overflow on long file names.
  span.file > a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }
}
