<div class="asiointirooli-block asiointirooli-block-{{ currentRole }}">
  <div class="container">
    <span class="asiointirooli--rooli">{{ "Role"|t({}, {'context': 'Asiointirooli block'}) }}: {{ asiointiLink }}</span> {{ switchRole }}
  </div>
</div>
