{% if roleType == 'private_person' %}
  {% set theme = 'copper' %}
{% else %}
  {% set theme = 'engel' %}
{% endif %}
{% set design_class = "hero--oma-asiointi" %}

{% set hero_classes = [
    'hero',
    design_class ? design_class,
    theme ? 'hdbt-theme--' ~ theme
] %}

<div{{ attributes.addClass(hero_classes) }}>
  {% embed "@hdbt/misc/container.twig" with {container_element: 'hero'} %}
    {% block container_content %}
      <div class="hero__text-content">
      {% if roleType == 'private_person' %}
        {% include "@hdbt/misc/icon.twig" with {icon: 'user'} %}
      {% elseif roleType == 'unregistered_community' %}
        {% include "@hdbt/misc/icon.twig" with {icon: 'group'} %}
      {% else %}
        {% include "@hdbt/misc/icon.twig" with {icon: 'company'} %}
      {% endif %}
        <h1 class="hero__title">
          {{ title }}
        </h1>
      </div>
    {% endblock %}
  {% endembed %}
</div>
