/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.view-ukk {
  .view-filters {
    display: none;
  }

  .ukk_categories {
    display:block;
    margin: var(--spacing-xl) 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      margin: var(--spacing-m) $spacing 0 0;
      padding: 0;
    }
  }

  .hero .hero__text-content {
    max-width: 100%;
  }

  #edit-field-category-target-id {
    display: flex;

    .hds-radio-button:is(:first-of-type) {
      margin-top: $spacing-half;
    }

    .hds-radio-button .hds-radio-button__input:checked + .hds-radio-button__label {
      background: var(--color-black);
      border-radius: var(--spacing-m);
      color: var(--color-white);
      padding: $spacing-half $spacing;
    }

    .hds-radio-button__label {
      padding: $spacing-half $spacing;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .views-exposed-form {
    fieldset {
      margin-bottom: 0;
    }

    .form-submit {
      margin-bottom: var(--spacing-l);
    }
  }

  .category {
    background: var(--color-black);
    border-radius: var(--spacing-m);
    color: var(--color-white);
    display: inline-block;
    padding: $spacing-half $spacing;
    text-decoration: none;
  }

  .category-unselected {
    background: var(--color-black-20);
    color: var(--color-black);
  }
}
