.grants-profile--form {
  .hdbt-form--section__title {
    @include font('h3');
  }

  .form-actions {
    border-top: 1px solid $color-black-20;
    display: flex;
    gap: $spacing-half;
    justify-content: flex-end;
    padding-top: $spacing-double;
  }
}

.grants-profile .prh-content-block {
  margin-top: $spacing-quadruple;
}

.grants-profile--title {
  margin-bottom: $spacing-quadruple;
}

.grants-profile--infotext {
  @include font('body');
  margin-block: 0 $spacing;
}

.grants-profile--links {
  display: flex;
  gap: $spacing-half;
}

.grants-profile--extrainfo {
  padding-bottom: $spacing-double;
  padding-top: $spacing-double;

  .hds-notification {
    margin-bottom: $spacing-double;
  }

  fieldset.form-wrapper.inline-error-message {
    border: 0;
  }

  fieldset.inline-error-message {
    background-color: unset;
    margin-bottom: 0;
    padding: 0 0 0 $spacing-half;

    legend {
      display: none;
    }
  }
}

.info-grants {
  border-bottom: 1px solid $color-black-20;
  padding-bottom: $spacing-double;
}

.grants-profile--item--multiple:not(:first-of-type)  {
    margin-top: $spacing;
}

.hds-link .hel-icon {
  margin-right: $spacing-half;
  vertical-align: bottom;
}

.hds-link span.link-label {
  font-weight: bold;
  margin-right: var(--spacing-m);
}

.bold-link {
  font-weight: bold;
}

// Login button when logging in to grants profile
.openid-connect-login-form.openid-connect-login-form {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

// Syles below here will be obsolete once the switch to react has been made.
// These are used in webform forms.
// TODO: UHF-12685 Remove obsolete styles after switch to react is complete.
div.applicant-info--from-prh,
div.applicant-info--from-grants {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-s) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form-required {
    &::after {
      content: none;
    }
  }
}

// TODO: UHF-12685 Remove obsolete styles after switch to react is complete.
div.applicant-info--from-prh {
  border-bottom: 2px solid $color-silver;
  margin-bottom: var(--spacing-layout-xs);
  padding-bottom: var(--spacing-layout-2-xs);
}

// TODO: UHF-12685 Remove obsolete styles after switch to react is complete.
div.grants-handler--prefilled-field {
  .field-prefix {
    display: block;
    position: absolute;
    right: var(--spacing-layout-s);
    top: 0;
  }

  .hds-text-input__input-wrapper,
  .description {
    display: inline-block;
    white-space: normal;
  }

  .hel-icon--check-circle-fill {
    color: $color-success;
    vertical-align: middle;
  }

  .hds-text-input__input,
  .webform-element-description {
    color: var(--color-black);
    display: block;
    font-size: var(--fontsize-body-m);
    line-height: var(--spacing-m);
    position: relative;
  }

  .hds-text-input__label {
    margin-bottom: 0;
  }
}

// TODO: UHF-12685 Remove obsolete styles after switch to react is complete.
.grants-profile--imported-section .webform-section-flex-wrapper {
  background-color: var(--color-black-5);
  border-bottom: 8px solid var(--color-engel-dark);
  display: block;
  padding: $spacing-double $spacing-double $spacing-half $spacing-double;
  width: 100%;

  h3.webform-section-title {
    font-size: var(--fontsize-heading-l);
    font-weight: 400;
    margin-top: 0;
    max-width: 100%;
    padding-top: 0;
    width: 100%;
  }

  .webform-section-wrapper {
    padding: 0;
  }

  .hds-text-input {
    margin-bottom: 0;
  }

  #edit-grants-profile-items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: var(--spacing-layout-xs);
    margin-top: var(--spacing-layout-xs);
    width: 100%;

    > div {
      margin: 0 var(--spacing-layout-xs) 0 0;
      min-width: 160px;
    }

    .hds-text-input__input-wrapper {
      display: none;
    }

    label {
      font-size: var(--fontsize-body-m);
      font-weight: bold;
      margin: 0;
    }
  }
}
