.node--type-service {
  .errand-service__channels .service-channel__links a[href^="https://avustukset.hel.fi"] {
    display: none;
  }

  .service-channel__info p:first-of-type {
    margin-top: 0;
  }

  .service-channel--mail {
    display: none;
  }

}

#block-servicepageauthblock,
#block-servicepageanonblock,
#block-grantspreviewlink {
  > h2 {
    margin-top: 0;
  }
}
