<div class="askem"><div class="askem-plugin style-classic stage-default"><style></style><div class="askem-reactions askem-3"><div class="askem-header"><span id="askem-header-text" class="askem-header-text" role="heading" aria-level="2">Löysitkö etsimäsi tiedon tältä sivulta?</span></div><div class="askem-reactions-group" role="group" aria-labelledby="askem-header-text"><div class="askem-reaction icon-check-mark"><div class="askem-reaction-button after-icons" tabindex="0" role="button" aria-label="Kyllä löysin" aria-pressed="false"><div class="askem-label">Kyllä löysin</div></div></div><div class="askem-reaction icon-check-mark"><div class="askem-reaction-button after-icons" tabindex="0" role="button" aria-label="Osittain" aria-pressed="false"><div class="askem-label">Osittain</div></div></div><div class="askem-reaction icon-check-mark"><div class="askem-reaction-button after-icons" tabindex="0" role="button" aria-label="En löytänyt" aria-pressed="false"><div class="askem-label">En löytänyt</div></div></div></div></div></div></div>
<script type="text/javascript">
  (function() {
    window.askem = {
      settings: {
        {% if language.getId() == 'en' %}
        apiKey: '7zfblho0j7sm0url',
        {% elseif language.getId() == 'sv' %}
        apiKey: 'mwft0afec1l7d6g1',
        {% else %}
        apiKey: 'gjhfvh3m4xcvnred',
        {% endif %}
        categories: ['Avustusasiointi'],
      }
    };
    var s = document.createElement('script');
    s.src = 'https://cdn.askem.com/plugin/askem.js';

    document.body.appendChild(s);
  }());
</script>
