<div class="askem"></div>
<script type="text/javascript">
  (function() {
    window.askem = {
      settings: {
        {% if current_language == 'en' %}
        apiKey: '7zfblho0j7sm0url',
        {% elseif current_language == 'sv' %}
        apiKey: 'mwft0afec1l7d6g1',
        {% else %}
        apiKey: 'gjhfvh3m4xcvnred',
        {% endif %}
        categories: ['Avustusasiointi'],
      }
    };
    var s = document.createElement('script');
    s.src = 'https://cdn.askem.com/plugin/askem.js';

    document.body.appendChild(s);
  }());
</script>
