/*
* Supplementary button styles on webform. Used on delete draft,
* save draft and print buttons.
* TODO: UHF-11036 Remove these styles when webforms are deleted.
*/
.hds-button.hds-button--supplementary {
  --background-color-hover: rgb(0 0 0 / 10%);
  text-decoration: none;

  .hds-button__label {
    margin: 0;
    text-decoration: underline;
  }

  &:hover {
    background-color: var(--background-color-hover);

    .hds-button__label {
      text-decoration: none;
    }
  }

  &::after, &::before {
    display:none !important;
  }
}

// On service page, prevent rage-clicking when creating a new application.
.hds-button.disabled {
  pointer-events: none;
}
