.form-item-application-number,
.form-item-status,
.form-item-applicant-type {
  display: none;
}

.grants-handler__completion {
  background: var(--color-bus-light);
  padding: var(--spacing-layout-l) var(--spacing-layout-2-xl);

  h2 {
    margin-top: var(--spacing-l);

  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: var(--spacing-m);
  }

  &__info-row {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-m);
    justify-content: flex-start;
    margin-bottom: var(--spacing-m);
  }

  &__button-row {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-m);
    justify-content: flex-start;
  }

  &__longtext {
    margin: var(--spacing-l) 0;
  }
}

.hds-notification.notification-margin-bottom {
  margin-bottom: var(--spacing-layout-m);
}

.hds-notification__label {
  align-items: center;
}
