.application-list {
  padding-left: 0;
  padding-bottom: var(--spacing-xl);
  &__processed-human-readable {
    display: none;
  }
  &__item {
    display: block;
    background: var(--color-bus-light);
    margin: var(--spacing-m) 0;
    padding: var(--spacing-m) var(--spacing-s);
    .new-message {
      background-color: var(--color-alert);
      display: inline-block;
      padding: var(--spacing-2-xs);
      border-radius: var(--spacing-xl);

      .hel-icon--size-s {
        width: 20px;
        height: 20px;
      }
    }
    h3, h4 {
      margin-top: var(--spacing-xs);
    }
    h4 {
      font-size: 1rem;
    }
    &--submitted {
      display: none;
    }
    &__link {
      margin-top: var(--spacing-m);
      display:flex;
      a {
        font-size: 1.25rem;
        i {
          vertical-align: text-bottom;
        }
      }
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: var(--spacing-m);
      &__left {
        justify-content: flex-start;
      }
    }
    &--status {
      --status-label-height: 32px;
      border-radius: 20px;
      font-size: var(--fontsize-body-s);
      line-height: var(--status-label-height);
      min-height: var(--status-label-height);
      padding: var(--spacing-3-xs) var(--spacing-s);
      vertical-align: middle;
      align-items: center;
      display: inline-flex;
      padding-left: var(--spacing-xs);
    }
    &--status + .hds-loading-spinner {
      display: inline-block;
      left: 10px;
      margin: 0;
      padding: 0;
      top: var(--spacing-3-xs);
      position: relative;
    }
    &--status.hide-spinner + .hds-loading-spinner {
      display: none;
    }

    &--status + div + .application-list__item--error {
      display: none;
    }
    &--status.show-error {
      background: var(--color-black-20);
      color: var(--color-black-90);
    }
    &--status.show-error + div + .application-list__item--error {
      display: inline-flex;
      left: var(--spacing-xs);
      margin: 0;
      padding: 0;
      top: var(--spacing-3-xs);
      position: relative;
      .application-list--error-text {
        margin-left: var(--spacing-2-xs);
        display: inline-block;
      }
    }
    &--status--draft {
      padding-left: 0;
    }
    &--status--sent, &--status--submitted {
      background: var(--color-black-10);

      &::before {
        --icon-size: 1.5rem;
        @include pseudo-icon('alert-circle');
        background-color: var(--color-black);
        content: '';
        margin-right: var(--spacing-2-xs);
      }
    }
    &--status--received, &--status--pending, &--status--processing, &--status--preparing {
      background: var(--color-info);
      color: var(--color-white);

      &::before {
        --icon-size: 1.5rem;
        @include pseudo-icon('info-circle');
        background-color: var(--color-white);
        content: '';
        margin-right: var(--spacing-2-xs);
      }
    }
    &--status--done, &--status--ready, &--status--resolved {
      background: var(--color-success);
      color: var(--color-white);

      &::before {
        --icon-size: 1.5rem;
        @include pseudo-icon('check-circle');
        background-color: var(--color-white);
        content: '';
        margin-right: var(--spacing-2-xs);
      }
    }
    &--status--rejected, &--status--deleted, &--status--canceled, &--status--cancelled {
      background: var(--color-alert);

      &::before {
        --icon-size: 1.5rem;
        @include pseudo-icon('alert-circle');
        background-color: var(--color-black);
        content: '';
        margin-right: var(--spacing-2-xs);
      }
    }
    &--status--error {
      .hel-icon {
        margin-right: var(--spacing-3-xs);
      }
      background: var(--color-black-20);
      color: var(--color-black);
      text-transform: uppercase;
    }
  }
  &__count {
    font-size: 1.5rem;
    &-value {
      font-weight: bold;
    }
  }
  &__information-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 35rem) {
      flex-flow: row wrap;
    }
    .grant-applications--select-wrapper select {
      width: 322px;
      max-width: 100%;
    }
  }
  &__status {
    &__wrapper {
      background: var(--color-black-5);
    }
    &__container {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: var(--spacing-layout-m);
      padding-top: var(--spacing-m);
      padding-bottom: var(--spacing-m);
    }
    &__label {
      font-weight: bold;
    }
    &__value {
      min-height: var(--spacing-xl);
      display: flex;
      justify-items: center;
      flex-flow: row;
      > div {
        margin: auto;
      }
    }
  }
  &__search-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 35rem) {
      flex-flow: row wrap;
    }
      > * {
    }
    gap: var(--spacing-s);
    .hds-text-input {
      flex: 1 100%;
      max-width: 100%;
      &__input-wrapper {
        display:block;
        input {
          width: 100%;
        }
      }
    }
    button {
      white-space: nowrap;
    }
  }
  &__pagination {
    @include font('body');
    font-weight: $font-weight-bold;
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--spacing-2-xs);
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
      margin-top: 0;

      &.active a {
        text-decoration: underline;
      }

      &.disabled a {
        text-decoration: none;
        cursor: default;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          outline: none;
        }
      }

      a {
        display: block;
        color: var(--color-black-90);
        height: var(--link-height);
        min-width: 40px;
        padding-left: var(--spacing-3-xs);
        padding-right: var(--spacing-3-xs);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:focus,
        &:active {
          outline: solid var(--color-coat-of-arms) 3px;
          outline-offset: 1px;
        }
      }
    }
  }
}
